<h1 class="title">Sign on in!</h1>

<div class='errors flash'><%= flash[:error] if flash[:error] %></div>

<%= form_for User.new, url: sessions_path do |f| %>

  <%= f.label :username %>
  <%= f.text_field :username %>
  <%= f.label :password %>
  <%= f.password_field :password %>
  <%= f.submit "Sign in!" %>

<% end %>

