<% if @happy_hour.errors.present? %>
  <div class='errors'>
    <% @happy_hour.errors.full_messages.each do |error| %>
      <%= error %>
    <% end %>
    <br/>
  </div>
<% end %>
<div class="opaque-box">
  <%= form_for @happy_hour, url: happy_hours_path do |f| %>

    <%= f.label :name %>
    <%= f.text_field :name %>
    <%= f.label :phone %>
    <%= f.text_field :phone %>
    <%= f.label :address %>
    <%= f.text_field :address %>
    <%= f.label :description, "Happy Hour Info" %>
    <%= f.text_area :description %>
    <br>
    <%= f.submit %>

  <% end %>
</div>