<% if @location.errors.present? %>
  <div class='errors'>
    <% @location.errors.full_messages.each do |error| %>
      <%= error %>
    <% end %>
    <br/>
  </div>
<% end %>
<div class="opaque-box">
  <%= form_for @location do |f| %>

    <%= f.label :name %>
    <%= f.text_field :name %>
    <%= f.label :phone %>
    <%= f.text_field :phone %>
    <%= f.label :address, "Address (ex. 123 1st Ave. Denver, CO 80203)" %>
    <%= f.text_field :address %>
    <%= f.label :website %>
    <%= f.text_field :website %>
    <p class="box centered-text">Happy Hour Specials</p>
    <br/>
    <%= f.fields_for :special do |form| %>
      <%= form.label :sunday %>
      <%= form.text_area :sunday %>
      <%= form.label :monday %>
      <%= form.text_area :monday %>
      <%= form.label :tuesday %>
      <%= form.text_area :tuesday %>
      <%= form.label :wednesday %>
      <%= form.text_area :wednesday %>
      <%= form.label :thursday %>
      <%= form.text_area :thursday %>
      <%= form.label :friday %>
      <%= form.text_area :friday %>
      <%= form.label :saturday %>
      <%= form.text_area :saturday %>
    <% end %>
    <br>
    <%= f.submit %>

  <% end %>
</div>
