<% if @location.errors.present? %>
  <div class='errors'>
    <% @location.errors.full_messages.each do |error| %>
      <%= error %>
    <% end %>
    <br/>
  </div>
<% end %>
<div class="opaque-box">
  <%= form_for @location do |f| %>

    <%= f.label :name %>
    <%= f.text_field :name %>
    <%= f.label :phone %>
    <%= f.text_field :phone %>
    <%= f.label :address %>
    <%= f.text_field :address %>
    <%= f.label :website %>
    <%= f.text_field :website %>
    <br>
    <%= f.submit %>

  <% end %>
</div>