
<% if session[:user_id] == nil %>
  <div id="to_register">
    <%= link_to "Not a member? Register here!", new_user_path, id: 'register_link' %>
  </div>
<% end %>

<h1 class="title">Hour Hound</h1>

<div id='green flash'><%= flash[:notice] if flash[:notice] %></div>
<div id="add-location"><%= link_to "+ Add location", new_location_path %></div>

<div id='map'></div>
<script id="map_script">
  var map = L.mapbox.map('map', 'hillrw3.jdnc3dda')
    .addControl(L.mapbox.geocoderControl('examples.map-i875kd35'));

  $(document).ready(function () {
    <% @locations.each do |location| %>
    L.mapbox.featureLayer({
      type: 'Feature',
      geometry: {
        type: 'Point',
        // coordinates here are in longitude, latitude order
        coordinates: [
          <%= location.longitude.to_f %>,
          <%= location.latitude.to_f %>
        ]
      },
      properties: {
        title: "<%= location.name %>",
        description: "<%= location.description %>",
        'marker-size': 'medium',
        'marker-color': '#4682b4',
        'marker-symbol': 'bar'
      }
    }).addTo(map);
    <% end %>
  });
</script>