<br/>
<div class="box">
  <div class="title-with-button">
  <h2><%= @location.name %></h2>
  <% if session[:user_id] %>
    <%= link_to "Edit", edit_location_path(@location) %>
  <% end %>
</div>
  <h6><%= @location.address %></h6>
  <p><%= @location.phone %></p>
  <p><%= @location.website %></p>

    <h5>Happy Hour Specials</h5>
    <dl>
      <dt><%= "From #{@location.special.starts_at.strftime('%I:%M:%S %p')} to #{@location.special.ends_at.strftime('%I:%M:%S %p')}" unless @location.special.starts_at == nil || @location.special.ends_at == nil %></dt>
      <dt>Sunday</dt>
      <dd><%= @location.special.sunday %></dd>
      <dt>Monday</dt>
      <dd><%= @location.special.monday %></dd>
      <dt>Tuesday</dt>
      <dd><%= @location.special.tuesday %></dd>
      <dt>Wednesday</dt>
      <dd><%= @location.special.wednesday %></dd>
      <dt>Thursday</dt>
      <dd><%= @location.special.thursday %></dd>
      <dt>Friday</dt>
      <dd><%= @location.special.friday %></dd>
      <dt>Saturday</dt>
      <dd><%= @location.special.saturday %></dd>
    </dl>
  <br/><br/>
</div>