<br/>
<div class="box">
  <div class="title-with-button">
  <h2><%= @location.name %></h2>
  <% if session[:user_id] %>
    <%= link_to "Edit", edit_location_path(@location) %>
  <% end %>
</div>
  <h6><%= @location.address %></h6>
  <br/>
  <p><%= @location.phone %></p>
  <p><%= @location.website %></p>

  <% unless @location.special == nil %>
    <h4>Specials</h4>
    <dl>
      <dt>Sunday</dt>
      <dd><%= @location.special.sunday %></dd>
      <dt>Monday</dt>
      <dd><%= @location.special.monday %></dd>
      <dt>Tuesday</dt>
      <dd><%= @location.special.tuesday %></dd>
      <dt>Wednesday</dt>
      <dd><%= @location.special.wednesday %></dd>
      <dt>Thursday</dt>
      <dd><%= @location.special.thursday %></dd>
      <dt>Friday</dt>
      <dd><%= @location.special.friday %></dd>
      <dt>Saturday</dt>
      <dd><%= @location.special.saturday %></dd>
    </dl>
  <% end %>
  <br/><br/>
</div>