<br/>
<div class="box">
  <h2><%= @location.name %></h2>
  <h6><%= @location.address %></h6>
  <br/>

  <p><%= @location.website %></p>
  <p><%= @location.phone %></p>
  <% if session[:user_id] %>
    <%= link_to "Edit #{@location.name}", edit_location_path(@location) %>
  <% end %>
</div>